DATABASE_URL="postgresql://<neon_user>:<password>@<host>/<database>?sslmode=require"
DIRECT_URL="postgresql://<neon_user>:<password>@<host>/<database>?sslmode=require"
JWT_SECRET="PMb9cU4nRwS28jXv3YqZtN1LfGkD6HsV0xE7aK8uC5yM4pF2"
JWT_EXPIRES_IN="7d"
PORT=4000
CORS_ORIGIN="https://kuruxetra.com"
CLOUDINARY_CLOUD_NAME="<cloudinary_cloud_name>"
CLOUDINARY_API_KEY="<cloudinary_api_key>"
CLOUDINARY_API_SECRET="<cloudinary_api_secret>"
NODE_ENV=production
